/* Reset */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,pre,a,img,ol,ul,li,form,label,footer,header,menu,nav,canvas {
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0;
}
 
footer,header,menu,nav,canvas {
    display:block;
}
 
body {
    line-height:1;
}
 
ol,ul {
    list-style:none;
}

/* Custom */
body {
    background-color: black;
    width: 100%;
    height: 100%;
}

canvas {
    background-color: black;
    margin: 0px auto;
    vertical-align: middle;
}

#menubar {
    position: absolute;
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
}

#imagewrapper {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: white;
    opacity: 0.5;
}

#menubar img {
    width: 50px;
    height: 50px;
    opacity: 0.5;
}

a {
    border: 0px solid black;
}

a:hover, a:focus {
    text-decoration: none;
}